@import "tailwindcss";

@theme {
  --color-primary: #0f172a; /* Slate 900 */
  --color-secondary: #f8fafc; /* Slate 50 */
  --color-accent: #3b82f6; /* Blue 500 */
}

body {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
